In [18]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
                                              0.3/10.6 MB 5.2 MB/s eta 0:00:02
     ---                                      0.9/10.6 MB 9.3 MB/s eta 0:00:02
     ------                                   1.8/10.6 MB 12.6 MB/s eta 0:00:01
     ---------                                2.5/10.6 MB 13.4 MB/s eta 0:00:01
     ------------                             3.4/10.6 MB 14.4 MB/s eta 0:00:01
     -----------------                        4.5/10.6 MB 16.0 MB/s eta 0:00:01
     --------------------------------         8.5/10.6 MB 19.5 MB/s eta 0:00:01
     -------------------------------------   10.2/10.6 MB 19.8 MB/s eta 0:00:01
     --------------------------------------  10.6/10.6 MB 22.5 MB/s eta 0:00:01
     --------------------------------------- 10.6/10.6 MB 18.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eddie\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
                                              0.0/502.3 kB ? eta -:--:--
     ------------------------------------- 502.3/502.3 kB 15.4 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 10.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\eddie\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in c:\users\eddie\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

## Análise de Negócios
### Preços dos combustíveis ofertados nos postos

<img src = 'preco_combustivel.jpeg'>

### Fomos contratados por uma Petroleira para construir uma análise de negócios para entender a dinâmica de preços que está sendo ofertado pelos postos.
1 - Teremos que trabalhar com Dados Existentes <br/>
link: https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/serie-historica-de-precos-de-combustiveis <br/>
<img src = 'anp.png'><br/>
<br/>
Como foi uma solicitação do nosso cliente, teremos que avaliar os ultimos 5 anos da base de dados.<br/>
<img src = 'tabela_base_dados.png'><br/>

<br/>
Quando abrimos as tabelas nos deparamos que cada semestre possui uma quantidade muito grande de dados, logo juntas 5 anos (10 tabelas) fica difícil!<br/>
<br/>
Como muitas das vezes não temos o Engenheiro de Dados, temos que dar os nossos pulos!<br/>

2 - Armazenar esses dados em um banco de dados <br/>
<img src = 'PostgreSQL-logo.png'><br/>
<img src = 'postgre1.png'><br/>

In [12]:
"""
CREATE TABLE anp.preco_combustivel(
		regiao 				varchar(255)
		,estado				varchar(255)
		,municipio			varchar(255)
		,revenda			varchar(255)
		,cnpj				varchar(255)
		,nome_rua			varchar(255)	
		,numero_rua			varchar(255)
		,complemento		varchar(255)
		,bairro				varchar(255)
		,cep				varchar(255)
		,produto			varchar(255)
		,data_coleta		date
		,valor_venda		float
		,unidade_medida		varchar(255)
		,bandeira			varchar(255)

)
"""

'\nCREATE TABLE anp.preco_combustivel(\n\t\tregiao \t\t\t\tvarchar(255)\n\t\t,estado\t\t\t\tvarchar(255)\n\t\t,municipio\t\t\tvarchar(255)\n\t\t,revenda\t\t\tvarchar(255)\n\t\t,cnpj\t\t\t\tvarchar(255)\n\t\t,nome_rua\t\t\tvarchar(255)\t\n\t\t,numero_rua\t\t\tvarchar(255)\n\t\t,complemento\t\tvarchar(255)\n\t\t,bairro\t\t\t\tvarchar(255)\n\t\t,cep\t\t\t\tvarchar(255)\n\t\t,produto\t\t\tvarchar(255)\n\t\t,data_coleta\t\tdate\n\t\t,valor_venda\t\tfloat\n\t\t,unidade_medida\t\tvarchar(255)\n\t\t,bandeira\t\t\tvarchar(255)\n\n)\n'

Carga de dados no Banco! <br/>
Utilizaremos o Knime<br/>
<img src = 'knime.png'><br/>
<img src = 'knime2.png'><br/>
Para atender as nossas necessidades vamos construir desta forma.<br/>
<img src = 'knime3.png'><br/>

3 - Utilizar esses dados para as nossas análises <br/>

Instalando as bibliotecas

In [12]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp311-cp311-win_amd64.whl (1.2 MB)
                                              0.0/1.2 MB ? eta -:--:--
     ---------                                0.3/1.2 MB 8.9 MB/s eta 0:00:01
     ---------------------------------------  1.2/1.2 MB 14.7 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 10.6 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2 as ps

In [23]:
conn = ps.connect(dbname = 'anp',
                    user ='postgres',
                    password = 'postgres',
                    host = 'localhost',
                    port = '5432' )

In [24]:
sql = """
SELECT * FROM anp.preco_combustivel
"""

In [25]:
df = sqlio.read_sql_query(sql, conn)

C:\Users\eddie\AppData\Local\Temp\ipykernel_6444\76855033.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = sqlio.read_sql_query(sql, conn)

In [26]:
df.head()

,regiao,estado,municipio,revenda,cnpj,nome_rua,numero_rua,complemento,bairro,cep,produto,data_coleta,valor_venda,unidade_medida,bandeira
0,SE,MG,ARAGUARI,AUTO POSTO JL LTDA,06.315.263/0001-76,AVENIDA VEREADOR GERALDO TEODORO,290,None,BOSQUE,38446-124,DIESEL S10,2022-07-26,7.69,R$ / litro,VIBRA ENERGIA
1,SE,MG,ARAGUARI,AUTO POSTO JL LTDA,06.315.263/0001-76,AVENIDA VEREADOR GERALDO TEODORO,290,None,BOSQUE,38446-124,DIESEL,2022-07-26,7.69,R$ / litro,VIBRA ENERGIA
2,SE,MG,ARAGUARI,AUTO POSTO JL LTDA,06.315.263/0001-76,AVENIDA VEREADOR GERALDO TEODORO,290,None,BOSQUE,38446-124,ETANOL,2022-07-26,4.09,R$ / litro,VIBRA ENERGIA
3,SE,MG,ARAGUARI,AUTO POSTO JL LTDA,06.315.263/0001-76,AVENIDA VEREADOR GERALDO TEODORO,290,None,BOSQUE,38446-124,GASOLINA,2022-07-26,5.59,R$ / litro,VIBRA ENERGIA
4,SE,MG,OLIVEIRA,POSTO PERFORMANCE LTDA.,26.391.185/0001-04,RUA AMINTAS DE SOUZA,149,None,CENTRO,35540-000,DIESEL,2022-07-26,7.25,R$ / litro,BRANCA

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401370 entries, 0 to 4401369
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   regiao          object
 1   estado          object
 2   municipio       object
 3   revenda         object
 4   cnpj            object
 5   nome_rua        object
 6   numero_rua      object
 7   complemento     object
 8   bairro          object
 9   cep             object
 10  produto         object
 11  data_coleta     object
 12  valor_venda     float64
 13  unidade_medida  object
 14  bandeira        object
dtypes: float64(1), object(14)
memory usage: 503.7+ MB

In [28]:
df.shape

(4401370, 15)